# This is a comment line
# The SECRET_KEY is used by Django to provide cryptographic signing
# You can generate a new secret key using this command:
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=

# The DEBUG setting controls whether debug mode is enabled for the app
# It should be set to True for development and testing, and False for production
DEBUG=

# The IS_DEVEL setting indicates whether the app is running in development mode
# It can be used to enable or disable certain features based on the environment
IS_DEVEL=

# The ALLOWED_HOSTS setting lists the hostnames that the app can serve
# It should include the domain name of your app, and any subdomains or aliases
# For example: ['example.com', 'www.example.com', 'dev.example.com']
ALLOWED_HOSTS=

# The INTERNAL_IPS setting lists the IP addresses that are considered internal
# It is used by some Django features like the debug toolbar
# For example: ['127.0.0.1', '10.0.0.1']
INTERNAL_IPS=

# The DB_NAME setting specifies the name of the database that the app uses
DB_NAME=

# The DB_USER setting specifies the username for accessing the database
DB_USER=

# The DB_PASSWORD setting specifies the password for accessing the database
DB_PASSWORD=

# The DB_HOST setting specifies the hostname or IP address of the database server
DB_HOST=

# The DB_PORT setting specifies the port number of the database server
DB_PORT=
