# Python
python-decouple==3.8

# Django
Django==4.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-import-export = 3.3.1

# Photo & Image
Pillow==10.0.0

# Database
psycopg2==2.9.7
psycopg2-binary==2.9.7

#
requests==2.31.0
